body {
    display: grid;
    grid-template-columns: repeat(autofit, 1fr);
    grid-template-rows: repeat(autofit, 1fr);
    grid-template-areas: 
    "h"
    "m"
    "f"
    "c";
}

header {
    grid-area: "h";
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.projetos {
    grid-area: "m";
}


main {
    grid-area: "m";
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me div img {
    justify-self: center;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    grid-area: "f";
    display: flex;
    align-items: center;
}

.back {
    grid-area: "f";
}

footer .content {
    display: flex;
    align-items: center;
    gap: 9rem;
}

footer .content div:nth-child(2), footer .content div:nth-child(3) {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyright {
    grid-area: "c";
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 912px){
    body {
        zoom: 0.4;
    }
    .about-me {
        display: flex;
        flex-direction: column-reverse;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}