* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

hr {
    background-color: #fff;
    height: 2px;
    margin: 0 35%;
    border: none;
    border-radius: 50rem;
}

.divs {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.151);
}

body {
    height: 100%;
    background: no-repeat url(/assets/blurry-gradient-haikei.png);
    background-size: cover;
    text-align: center;
    color: rgb(223, 223, 223);
}

a {
    text-decoration: none;
    letter-spacing: .1rem;
    color: rgb(223, 223, 223);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header a {
    padding: .75em;
    margin-right: 2.5vw;
    border: 2px solid #fff;
    border-radius: 7rem;
    color: #fff;
    transition: .5s;;
}

header a:hover {
    border: 2px solid rgba(255, 255, 255, 0.39);
    transition: .5s;
}

h6 {
    font-weight: normal;
    font-size: .8rem;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

.top-page {
    height: 80vh;
}

.info {
    width: 30rem;
}

.about-me {
    border-bottom: 2px solid rgba(255, 255, 255, 0.199);
}

.about-me div {
    align-content: center;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.about-me div img {
    width: 20rem;
    border-radius: 50%;
    object-fit: contain;
}

.projects {
    height: 90vh;
    font-size: 1.2rem;
    gap: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.199);
}

.projects div {
    margin: 1rem;
}

.projects h2 {
    font-weight: 600;
}

.projects-images div img {
    width: 30rem;
    margin: 0 1vw;
    border-radius: 1rem;
}

.contact {
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 3rem;
    gap: 1rem;
    height: 90vh;
    margin: auto;
}

.contact div:nth-child(2) {
    background-color: rgb(22, 22, 22);
    padding: 24px;
    border-radius: 5rem;

    transition: .7s;
}

.contact div:nth-child(2):hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0.158);
    border-top: 2px solid rgba(255, 255, 255, 0.151);
    padding: 2rem 2rem;
}

footer div p {
    font-size: 1.5rem;
}

footer div a{
    width: fit-content;
}

footer div a:hover {
    transition: .5s;
}

footer div a:hover {
    color: rgb(107, 107, 107);
}

.copyright {
    background-color: rgba(0, 0, 0, 0.158);
    padding-bottom: 1rem;
}

/* util */

.mt-10 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-50 {
    margin-top: 5rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

/* animation */

.intro {
    animation: fromTop 1s .5s;
}

.about-me {
    animation: fromBottom 1s .5s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
