* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(178.14deg, rgba(0, 0, 0, 0.87) 1.63%, #000000 98.53%);
    background-position: top center;
    background-size: 100vw 100%;
    background-repeat: no-repeat;

    color: #fff;

    margin-top: 12vh;
}

header{
    display: flex;
    justify-content: space-between;

    /*height: 12vmin;*/
    height: 8vh;
    width: 100%;
    font-family: 'Iceland', sans-serif;

    background: rgba(17, 16, 24, 0.904);

    position: fixed;
    top: 0;
    left: 0;

}

header .name {
    display: flex;
    align-items: center;

    margin-inline: 3vw;
    font-size: 6vw;
    

}

.name:hover {
    cursor: pointer;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 40vw;
    margin-inline: 3vw;
    font-size: 4vw;
}

header .nav li {
    list-style: none;
}

header .nav li a{
    color: white;
    text-decoration: none;
}

.nav :nth-child(1):hover {
    cursor: pointer;
}

.nav :nth-child(2):hover {
    cursor: pointer;
}

.nav :nth-child(3):hover {
    cursor: pointer;
}



section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 50vh;
}

section .text {
    font-family: 'kanit', sans-serif;
}

section h1 {
    font-size: 4.5vw;
}

section .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 30vw;  
}

section .icons img {
    height: 8vw;
}



/* Sobre */

.section-perfil{
    display: flex;
    flex-wrap: wrap-reverse;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3.5vw;
    font-family: 'kanit', sans-serif;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, rgba(241, 9, 253, 0.58) 13.36%, rgba(14, 207, 224, 0.58) 62.41%);
    height: 25.5vmax;
    width: 25.5vmax;
    border-radius: 50%;
}

.perfil img{
    border-radius: 50%;
    height: 25vmax;
}

.contato {
    display: flex;
    align-items: center;

}

#social-icons {
    height: 20vh;
}

#social-icons img {
    transition: .7s;
}

#social-icons img:hover {
    scale: 140%;

}


#social-icons img:nth-child(1):hover {
    cursor: pointer;
}

#social-icons img:nth-child(2):hover {
    cursor: pointer;
}

#social-icons img:nth-child(3):hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    font-size: 1vmax;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.line{
    background: linear-gradient(90deg, rgba(241, 9, 253, 0.58) 13.36%, rgba(14, 207, 224, 0.58) 62.41%);
    height: 0.5vmin;
    margin-bottom: 5vh;
}

/* animation */

.intro {
    animation: fromBottom 1s backwards;
}

.section-perfil {
    animation: fromBottom 1s backwards;
}

.contato {
    animation: fromBottom 1s backwards;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1000px) {
    header {
        height: 12vh;
    }
    header .nav{
        width: 20vw;
        font-size: 2vw;
    }

    header .name {
        display: flex;
        align-items: center;
    
        margin-inline: 3vw;
        font-size: 3vw;
    }

    section {
        height: 98vh;
    }

    .sobre {
      font-size: 2vw;
    }

    #social-icons {
        height: 70vh;
    }

    .line {
        margin-bottom: 10vh;
    }
  }

  @media screen and (min-width: 800px) {
    #social-icons {
        height: 25vh;
    }
  }

  @media screen and (min-width: 500px) {
    #social-icons {
        height: 60vh;
    }
  }