body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: .2fr 4fr .5fr 0.1fr;
    grid-template-areas: 
    "h h h h"
    "m m m m"
    "f f f f"
    "c c c c";
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me div img {
    justify-self: center;
}

.projects {
    /*display: grid;
    grid-template-columns: repeat(autofit, minmax(1fr));
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
    "a a a"
    "p p p";*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1 {
    display: flex;
    flex-direction: column;
}

.projects-text {
    grid-area: a;
}

.projects-images {
    grid-area: p;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    grid-area: f;
    display: flex;
    align-items: center;
}

footer .content {
    display: flex;
    align-items: center;
    gap: 9rem;
}

footer .content div:nth-child(2), footer .content div:nth-child(3) {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.copyright {
    grid-area: c;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 854px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-areas: 
        "h"
        "m"
        "f"
        "c";
    }

    /*.about-me {
        display: flex;
        flex-direction: column-reverse;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }*/

    .projects-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}